.cursive-main {
  font-family: "Dancing Script", cursive;
}
.title {
  font-size: 300%;
}
.giga-title {
  font-size: 650%;
}
.subtitle {
  font-size: 230%;
}
.regular-text {
  font-size: 160%;
}
.image-separator-one {
  background-image: url("../media/boho-bg-1.jpg");
  height: 100%;
  opacity: 70%;
  background-position: center;
  background-position-y: 25%;
}
.image-separator-two {
  background-image: url("../media/sunset-bg.jpg");
  height: 100%;
  opacity: 70%;
  background-position: center;
  background-position-y: 43%;
}
