.cursive-main {
  font-family: "Dancing Script", cursive;
}
.title {
  font-size: 70px;
}
.giga-title {
  font-size: 150px;
}
.subtitle {
  font-size: 50px;
}
.regular-text {
  font-size: 30px;
}
.image-separator-one {
  background-image: url("../media/boho-bg-1.jpg");
  height: 100%;
  opacity: 70%;
  background-position: center;
  background-position-y: 25%;
}
